sudo: false
language: python
cache:
  pip: true
matrix:
  include:
  - python: "2.7"
    env:
    - TOXENV=py27
    - TOXENV=pep8
  - python: "3.5"
    env:
    - TOXENV=py35
install:
- pip install tox-travis
script: tox
