name: Python package with Tox

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  tox-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14" 

    - name: Install Tox
      run: pip install tox

    - name: Run Tox
      run: tox

    - name: Lint with Tox
      run: tox -e lint
